langchain
langchain-classic
langchain-core
langchain-community
langchain-chroma
langchain-ollama
langchain-text-splitters
chromadb
datasets
fastapi
python-dotenv
pydantic
ragas
sentence-transformers
uvicorn
